@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "alacritydark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #1b1224;
    --color-base-200: #160e1e;
    --color-base-300: #110a18;
    --color-base-content: #cccccc;
    --color-primary: #5863ff;
    --color-primary-content: #ffffff;
    --color-secondary: var(--color-pink-700);
    --color-secondary-content: var(--color-white);
    --color-accent: var(--color-emerald-400);
    --color-accent-content: var(--color-white);
    --color-neutral: oklch(100% 0 0);
    --color-neutral-content: oklch(21% 0.006 285.885);
    --color-info: var(--color-blue-500);
    --color-info-content: var(--color-white);
    --color-success: var(--color-green-500);
    --color-success-content: var(--color-white);
    --color-warning: var(--color-orange-500);
    --color-warning-content: var(--color-white);
    --color-error: var(--color-red-500);
    --color-error-content: var(--color-white);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.28125rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "alacrity";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #5863ff;
    --color-primary-content: #ffffff;
    --color-secondary: var(--color-pink-700);
    --color-secondary-content: var(--color-white);
    --color-accent: var(--color-emerald-400);
    --color-accent-content: var(--color-white);
    --color-neutral: oklch(100% 0 0);
    --color-neutral-content: oklch(21% 0.006 285.885);
    --color-info: var(--color-blue-500);
    --color-info-content: var(--color-white);
    --color-success: var(--color-green-500);
    --color-success-content: var(--color-white);
    --color-warning: var(--color-orange-500);
    --color-warning-content: var(--color-white);
    --color-error: var(--color-red-500);
    --color-error-content: var(--color-white);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.28125rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
      --noise:  0;
}

.custom-shape-divider-bottom-1737547199 {
    position: absolute;
    top: 0;
    @apply -translate-y-full; 
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737547199 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 170px;
}

.custom-shape-divider-bottom-1737547199 .shape-fill {
    @apply fill-primary;
}



.custom-shape-divider-bottom-1737549060 {
    position: absolute;
    top: 0;
    @apply -translate-y-full;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737549060 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
}

@theme inline{
    --font-project: var(--font-montserrat);
}

.custom-shape-divider-bottom-1737549060 .shape-fill {
    @apply fill-base-200;
}


@layer components {

}